<div class="container-chat">
  {{> left-column}}
  <div class="private-center-list">
    <div class="private-center-title">
      <div class="online-list-title-text">訊息</div>
      <i class="icon icon-message2" style="line-height: 16px;"></i>
    </div>
    <div class="private-list">
      {{#each messages}}


      {{#if this.isSelf}}

      <div class="private-messages-content" onclick="location.href='/message/{{this.ReceiveId}}'">
        <div class="private-left-item">
          <a href="/message/{{this.Receiver.id}}">
            <div class=""
              style="width: 50px;height:50px;background:url({{this.Receiver.avatar}})#C4C4C4;background-repeat:no-repeat;background-position: center;background-size: cover;border-radius:50%">
            </div>
          </a>
        </div>
        <div class="private-right-item">
          <div class="title">
            <span class="name">
              <a href="/message/{{this.User.id}}/tweets">
                {{this.Receiver.name}}
                <span class="time">
                  @{{this.Receiver.account}}
                </span>
              </a>
            </span>
            <span class="time" style="margin-left:2px">
              {{moment this.createdAt}}
            </span>
          </div>
          <div class="body">
            you: {{subText this.message 100}}

          </div>
        </div>
      </div>

      {{else}}

      <div class="private-messages-content" onclick="location.href='/message/{{this.SendId}}'">
        <div class="private-left-item">
          <a href="/message/{{this.Sender.id}}">
            <div class=""
              style="width: 50px;height:50px;background:url({{this.Sender.avatar}})#C4C4C4;background-repeat:no-repeat;background-position: center;background-size: cover;border-radius:50%">
            </div>
          </a>
        </div>
        <div class="private-right-item">
          <div class="title">
            <span class="name">
              <a href="/message/{{this.Sender.id}}/tweets">
                {{this.Sender.name}}
                <span class="time">
                  @{{this.Sender.account}}
                </span>
              </a>
            </span>
            <span class="time">
              {{moment this.createdAt}}
            </span>
          </div>
          <div class="body">
            {{subText this.message 100}}

          </div>
        </div>
      </div>

      {{/if}}


      {{/each}}
    </div>
  </div>

  <div class="private-chat-room">
    <div class="private-chat-room-title">
      <a href="/users/{{visitUser.id}}">{{visitUser.name}}</a>
      <span>@{{visitUser.account}}</span>
    </div>


    <div class="chat-room-content">
      <div class="chat-content" id="messages">
        {{empty}}
        {{#each history}}
        {{#if this.isSelf}}
        <div class="msg">{{this.message}}</div>
        {{else}}
        <div class="msg2">{{this.message}}</div>
        {{/if}}
        {{/each}}
      </div>
    </div>


    <div class="chat-room-footer">
      <form id="chatroom" action="
        /message/{{visitUser.id}}" method="POST">
        <div class="input-group p-2">
          <input type="text" id="m" autocomplete="off" name="message" class="form-control" placeholder="輸入訊息...">
          <div class="input-group-append">
            <button class="btn btn-send" type="submit" id="button-send"><i class="fas fa-paper-plane"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>
  //const moment = require('moment');
  let socket = io();
  let messageslist = document.getElementById('messages');
  let messageuserlist = document.querySelector('.message-user-list');
  let privatelist = document.querySelector('.private-list');

  let selfId = '';

  socket.on('self', user => {
    if (user.current) {
      selfId = user.id;
    }
    console.log(user);
  })

  socket.on('send_private_message', data => {
    console.log(data);
    let {
      roomId,
      sender,
      receiever,
      message,
      senderInfo,
      receieverInfo,
      date
    } = data;

    //const date = moment(new date()).format('hA');
    if (Number(selfId) === Number(receiever)) {
      const before = privatelist.innerHTML;
      const newdata = `<div class="private-messages-content" onclick="location.href='/message/${sender}'">
        <div class="private-left-item">
          <a href="/message/${sender}">
            <div class=""
              style="width: 50px;height:50px;background:url(${senderInfo.avatar})#C4C4C4;background-repeat:no-repeat;background-position: center;background-size: cover;border-radius:50%">
            </div>
          </a>
        </div>
        <div class="private-right-item">
          <div class="title">
            <span class="name">
              <a href="/message/${sender}">
                ${senderInfo.name}
                <span class="time">
                  @${senderInfo.account}
                </span>
              </a>
            </span>
            <span class="time" style="margin-left:2px">
              ${date}
            </span>
          </div>
          <div class="body">
            ${message}

          </div>
        </div>
      </div>`
      privatelist.innerHTML = newdata + privatelist.innerHTML;
      console.log(`recieve${sender}'s message:${message}`)

      messageslist.innerHTML += `
       <div class="msg2">${message}</div>
      `
    }

  })

  socket.on('send_private_message', data => {
    console.log(data);
    let {
      roomId,
      sender,
      receiever,
      message,
      senderInfo,
      receieverInfo,
      date
    } = data;

    //const date = moment(new date()).format('hA');
    if (Number(selfId) === Number(sender)) {
      const before = privatelist.innerHTML;
      const newdata = `<div class="private-messages-content" onclick="location.href='/message/${receiever}'">
        <div class="private-left-item">
          <a href="/message/${receiever}">
            <div class=""
              style="width: 50px;height:50px;background:url(${receieverInfo.avatar})#C4C4C4;background-repeat:no-repeat;background-position: center;background-size: cover;border-radius:50%">
            </div>
          </a>
        </div>
        <div class="private-right-item">
          <div class="title">
            <span class="name">
              <a href="/message/${receiever}">
                ${receieverInfo.name}
                <span class="time">
                  @${receieverInfo.account}
                </span>
              </a>
            </span>
            <span class="time" style="margin-left:2px">
              ${date}
            </span>
          </div>
          <div class="body">
            you: ${message}

          </div>
        </div>
      </div>`
      privatelist.innerHTML = newdata + privatelist.innerHTML;
      //console.log(`recieve${sender}'s message:${message}`)

      messageslist.innerHTML += `
       <div class="msg">${message}</div>
      `
    }

  })

  window.setInterval(function () {
    //var elem = document.getElementById('data');
    messageslist.scrollTop = messageslist.scrollHeight;
  }, 3000);
</script>