<div class="container-chat">
  {{> left-column}}
  <div class="public-online-list">

    <div class="online-list-title">
      上線使用者(<span id="onlineUserCount">0</span>)
    </div>

    <div class="public-list"></div>

  </div>


  <div class="chat-room">
    <div class="chat-room-title">
      公開聊天室
    </div>

    <div class="chat-room-content">

      <div class="chat-content" id="messages">
        {{#each messages}}

        {{#if this.isSelf}}
        <div class="msg">{{this.User.name}} : {{this.message}}</div>
        {{else}}
        <div class="msg2">{{this.User.name}} : {{this.message}}</div>
        {{/if}}

        {{/each}}
      </div>
    </div>

    <div class="chat-room-footer">
      <form id="chatroom" action="
      /public" method="POST">
        <div class="input-group p-2">
          <input type="text" id="m" autocomplete="off" name="message" class="form-control" placeholder="輸入訊息...">
          <div class="input-group-append">
            <button class="btn btn-send" type="submit" id="button-send"><i class="fas fa-paper-plane"></i></button>
          </div>
        </div>
      </form>
    </div>

  </div>
</div>


<script src="/socket.io/socket.io.js"></script>
{{!-- <script src="http://localhost:3000/socket.io/socket.io.js"></script> --}}
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>


  let socket = io();
  //let noticelist = document.querySelector('#notice');
  let messageslist = document.getElementById('messages');
  let userCount = document.querySelector('#onlineUserCount');
  let userlist = document.querySelector('.public-list');

  socket.on('online', (amount => {
    console.log("@@@@@", amount)
    userCount.innerHTML = amount;
  }))
  socket.on('onlineUsers', (data) => {
    if (data.length === 1) {
      if (!data[0].id) {
        userCount.innerHTML = 0;
        userlist.innerHTML = '';
        return '';
      }
    }
    console.log(data)
    data = data.filter(e => e.id !== undefined)
    userCount.innerHTML = data.length;

    let all = '';

    data.forEach(user => {
      if (user.id) {
        let each = `<div class="online-list-content">
        <div class="online-list-avatar" style="height:50px;width:50px;background:
        url(${user.avatar}),#C4C4C4;
        background-position:center;background-size:cover;border-radius: 100px;">
        </div>
        <div class="online-list-name">
          ${user.name}
          <span>@${user.account}</span>
        </div>
      </div>`
        all += each
      }
    })

    userlist.innerHTML = all;
  })
  socket.on('public', (data) => {
    //console.log(data)
    let { user, message } = data;
    let item = `${user}: ${message}`;
    console.log(item)
    console.log(messageslist);
    messageslist.innerHTML += `<div class= "msg">${item}</div> `
  })

  socket.on('message', (data) => {
    console.log(data);
  })
</script>